
@media (max-width: 412px) {
    #responsive-cart{
        width: 70%;
        margin-right: 126px;
       
    }
    #section{
        padding-top: 0;
        padding-bottom: 0;
    }
  
    #slideImage{
   padding: 36px;
    }
  }
  @media (max-width: 320px) {
    #responsive-cart{
        width: 83%;
        margin-right: 65px;
       
    }
    #btn{
        
    }
    
  }