body {
    background-color: #f9f9fa;
}

.padding {
    padding: 2rem;
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.card-block {
    padding: 1.25rem;
}
.uer-info{
    margin-top: 105px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 104px;
}

.info-item {
    flex: 1 1 100%;
}

.order-details {
    margin-top: 20px;
    padding: 20px;
}

.order-title {
    font-size: x-large;
}

.order-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
}

.order-image {
    width: 50px;
    height: 50px;
}

.order-info {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.old-price {
    text-decoration: line-through;
}
.flex-name{
    display: flex;
    gap: 8px;
}
.user-name{
    margin-left: 3px;
}
.user-details{
    display: flex;
    gap: 180px;
    padding-bottom: 15px;
    margin-left: 16px;
}

.order-actions {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .padding {
        padding: 1rem;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-item {
        flex: 1 1 100%;
    }

    .order-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .order-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .order-actions {
        width: 100%;
        justify-content: flex-end;
    }
}
