
h1 {
    text-align: center;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%;
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    flex: 35%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container_checkOut {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container-checkOut {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #acaf4c;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.product_btn:hover {
    background-color: #45a049;
}

.product_btn {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

/* Responsive layout */
@media (max-width: 675px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}

.container_checkOut {
    margin-left: 10px;
    margin-right: 10px;
}



.userAddress{
width: 35%;
}


.address-list {
  border: 1px solid #a9a9a9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  font-weight: 400;
  line-height: 1;
  margin: 3rem 0rem;
  padding: 1rem;
  width: 17rem;
}
.address-head {
  display: flex;
  justify-content: center;
}
input {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  font-size: inherit;
  outline: none;
  padding: .5rem;
}






.header {
    height: 8vh;
  }
  .headline {
    width: 96%;

    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 11%;
  }

  .card {
   
    margin-left: 11%;
  }
  .email {
    display: flex;
    padding: 10px;
  }
  .contact {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .input {
    height: 5vh;
    width: 96%;
  }
  .delivery {
    display: flex;
  }
  .inputForName {
    /* height: 10vh; */
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px;
  }
  .flex {
    margin-top: 4px;
  }
  .payment {
    display: block;
    text-align: justify;
  }
  
  .card {
   
    width: 69%;
    margin: 0 auto;
  }
  .col-6{
    width: 81%;
    margin-left: 21px;
  }
  
  .input {
    height: 40px;
  }
  #pay-btn {
    font-size: larger;
    width: 100%;
    height: 7vh;
    background-color: #acaf4c;;
    color: white;
    margin-top: 12px;
    border-radius: 7px;
  }
  .address-box{
    display: flex;
    gap: 39px;
  }
  .delete-icon{
      float: inline-end;
      margin: -16px;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    
  }
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media (min-width: 576px) {
    .headline {
      height: 10vh;
    }
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;

    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001; /* Ensure it's above other content */
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000; /* Ensure it's above other content */
  }
  
  
